.container
  .row
    .col-md-9
      %ul.list-inline
        %li
          %b= comment.user.name
        %li
          .small= comment.created_at.strftime('%T %d.%m.%y')
        - if comment.created_at < comment.updated_at
          %li
            .small= "(Updated: #{comment.updated_at.strftime('%T %d.%m.%y')})"
        - if policy(comment).destroy?
          %li
            .small
              = link_to 'delete', comment_url(comment), method: :delete
        - if policy(comment).edit?
          %li
            .small
              = link_to 'edit', edit_comment_url(comment)

      %p= comment.content
