= form_for(comment) do |f|
  = f.hidden_field :issue_id
  = f.hidden_field :user_id, value: current_user.id
  .form-group
    = f.label :content, 'Message'
    = f.text_area :content, rows: 5, class: 'form-control'
  = f.submit 'Send', class: 'btn btn-primary'
