.row
  .col-sm-12
    %ul.list-inline
      %li
        %b State:
      %li= @issue.state

  .col-sm-12
    %b Participants:
    %ul.list-unstyled
      - @issue.participants.each do |user|
        %li= link_to user.name, user_path(user)

  .col-sm-12
    - if @issue.label.present?
      %ul.list-inline
        %li
          %b Label:
        %li= @issue.label
