= form_for(issue) do |f|
  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control'
  .form-group
    = f.label :description
    = f.text_area :description, rows: 5, class: 'form-control'
  .form-group
    = f.label :state
    = f.select :state, Issue::STATES.keys.map { |state| [state.to_s.humanize, state] }, {}, class: 'form-control'
  .form-group
    = f.select :participant_ids, User.all.map { |user| [user.name, user.id] }, {}, class: 'form-control', role: 'select2', include_blank: true, multiple: true
  = f.submit 'Save changes', class: 'btn btn-primary'
