.container
  .row
    .col-lg-12
      %h1.page-header Issues
      %div
        = link_to 'Add Issue', new_issue_path, class: 'btn btn-primary'
      = paginate @issues, theme: 'twitter-bootstrap-3'
      .table-responsive
        %table.table
          %thead
            %tr
              %th ID
              %th Title
              %th State
          %tbody
            - @issues.each do |issue|
              %tr
                %th{scope: 'row'}= issue.id
                %td= link_to issue.title, issue_path(issue)
                %td= issue.state
      = paginate @issues, theme: 'twitter-bootstrap-3'
