.container
  %h2
    = @issue.title
    - if policy(@issue).edit?
      .pull-right= link_to 'Edit Isuue', edit_issue_path(@issue), class: 'btn btn-primary btn-sm'

  .row
    .col-md-9
      %p= @issue.description

      %h3 Comments:
      - if @issue.comments.size > 0
        - @issue.comments.each do |comment|
          =render 'comments/display', comment: comment
      - else
        %p No comments yet

      - if policy(@issue).update?
        %h4 Write a comment
        = render 'comments/form', comment: @issue.comments.build

    .col-md-3
      .panel.panel-default
        .panel-body
          = render 'extra_info'
