%td
  = link_to user.email, user
%td
  = user.role.capitalize
%td
  - if policy(user).edit?
    = link_to('Edit user', edit_user_path(user), class: 'button-xs')
%td
  - if policy(user).destroy?
    = link_to('Delete user', user_path(user), data: { confirm: 'Are you sure?' }, method: :delete, class: 'button-xs')
