.container
  .row
    .col-md-6
      %h3 Edit user

      = form_for(@user) do |f|
        .form-group
          = f.label :name
          = f.text_field :name, class: 'form-control'
        .form-group
          = f.label :email
          = f.text_field :email, class: 'form-control'
        .form-group
          = f.label :password
          = f.text_field :password, class: 'form-control', type: 'password'
        .form-group
          = f.label :password_confirmation
          = f.text_field :password_confirmation, class: 'form-control', type: 'password'
        .form-group
          = f.label :role
          = f.select :role, User.roles.keys.map { |role| [role.titleize, role] }, {}, class: 'form-control'
        = f.submit 'Update', class: 'btn btn-primary'
