- if current_user
  - if policy(:issue).index?
    %li= link_to 'Issues', issues_path
  - if policy(:user).index?
    %li= link_to 'Users', users_path
  %li= link_to 'Sign out', destroy_user_session_path, method: :delete
